<h1>Reihenfolge Textbereiche</h1>
<div class="input-area">

    <div style="width: 80%; max-height: 80vh; overflow: auto;">
        <table *ngIf="dataSource" mat-table [dataSource]="dataSource" style="width: 100%;">
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef>Textbereich</th>
                <td mat-cell *matCellDef="let area">
                    <div>{{area?.Name}}</div>
                </td>
            </ng-container>

            <ng-container matColumnDef="Order">
                <th mat-header-cell *matHeaderCellDef style="text-align: right;">Reihenfolge</th>
                <td mat-cell *matCellDef="let area" style="text-align: right;">
                    <button mat-button (click)="changeOrder(area, true)">
                        <mat-icon>arrow_upward</mat-icon>
                    </button>
                    <button mat-button (click)="changeOrder(area, false)">
                        <mat-icon>arrow_downward</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>


</div>

<div mat-dialog-actions style="width: 100%; float: right;">
    <button mat-button (click)="onCancelClick()">
        <mat-icon matTooltip="Abbrechen">undo</mat-icon>
    </button>
    <button mat-button (click)="saveOrder()" disabled="{{!save}}">
        <mat-icon matTooltip="Speichern">save</mat-icon>
    </button>
</div>