<h1>Neues Textelement für den Bereich '{{contentArea.Name}}'</h1>

<div class="input-area">
    <p>Es folgen Bedingungen für das Erscheinen des Textfeldes. Wird nichts ausgewählt, erscheint der Text bei jeder Ausprägung
        der jeweiligen Kategorie im E-Book.</p>
    <br />
    <form [formGroup]="options">
        <table>
            <tr>
                <mat-form-field appearance="fill" class="new-text-input-field">
                    <mat-label>Kongruenz (allg.)</mat-label>
                    <mat-select [formControl]="congruenceControl">
                        <mat-option value=""></mat-option>
                        <mat-option value="Low">allg. Inkongruenz</mat-option>
                        <mat-option value="Medium">allg. vereinzelt kongruent</mat-option>
                        <mat-option value="High">allg. Kongruenz</mat-option>
                    </mat-select>
                </mat-form-field>
            </tr>
            <tr>
                <mat-form-field appearance="fill" class="new-text-input-field">
                    <mat-label>Unbewusst</mat-label>
                    <mat-select [formControl]="unconsciousControl">
                        <mat-option value=""></mat-option>
                        <mat-option value="Low">schwach unbewusst</mat-option>
                        <mat-option value="Medium">durchschnittlich unbewusst</mat-option>
                        <mat-option value="High">stark unbewusst</mat-option>
                        <mat-option value="NA">keine Kodierung</mat-option>
                    </mat-select>
                </mat-form-field>
            </tr>                       
            <tr>
                <mat-form-field appearance="fill" class="new-text-input-field">
                    <mat-label>Selbsteinschätzung</mat-label>
                    <mat-select [formControl]="selfAssessmentControl">
                        <mat-option value=""></mat-option>
                        <mat-option value="MuchLower">unbewusst >> bewusst (starke Untersch.)</mat-option>
                        <mat-option value="Lower">unbewusst > bewusst</mat-option>
                        <mat-option value="Congruence">unbewusst = bewusst (kongruent)</mat-option>
                        <mat-option value="Higher">unbewusst < bewusst</mat-option>
                        <mat-option value="MuchHigher">unbewusst << bewusst (starke Uebersch.)</mat-option>
                        <!-- <mat-option value="MuchHigher">keine Kodierung</mat-option> -->
                    </mat-select>
                </mat-form-field>
            </tr>
            <tr>
                <mat-form-field appearance="fill" class="new-text-input-field">
                    <mat-label>Energetisierung</mat-label>
                    <mat-select [formControl]="energizationControl">
                        <mat-option value=""></mat-option>
                        <mat-option value="NEgreaterZero">NE > 0</mat-option>
                        <mat-option value="PEgreaterZero">PE > 0</mat-option>
                        <mat-option value="PEgreaterNE">PE > NE</mat-option>
                        <mat-option value="NEgreaterPE">NE > PE</mat-option>
                        <mat-option value="PEgreaterequalNE">PE >= NE</mat-option>
                        <mat-option value="NEgreaterequalPE">NE >= PE</mat-option>
                        <mat-option value="PEgreaterNEAndPEgreaterZero">PE > NE und PE > 0</mat-option>
                        <mat-option value="NEgreaterPEAndPEgreaterZero">NE > PE und PE > 0</mat-option>
                        <mat-option value="PEgreaterequalNEAndPEgreaterZero">PE >= NE und PE > 0</mat-option>
                        <mat-option value="NEgreaterequalPEAndPEgreaterZero">NE >= PE und PE > 0</mat-option>
                        <mat-option value="PEgreaterNEAndNEgreaterZero">PE > NE und NE > 0</mat-option>
                        <mat-option value="NEgreaterPEAndNEgreaterZero">NE > PE und NE > 0</mat-option>
                        <mat-option value="PEgreaterequalNEAndNEgreaterZero">PE >= NE und NE > 0</mat-option>
                        <mat-option value="NEgreaterequalPEAndNEgreaterZero">NE >= PE und NE > 0</mat-option>
                    </mat-select>
                </mat-form-field>
            </tr>
            
        </table>
    </form>
</div>


<div mat-dialog-actions style="width: 100%; float: right;">
    <button mat-button (click)="onCancelClick()">
        <mat-icon>undo</mat-icon>
    </button>
    <button mat-button (click)="onOkClick()">
        <mat-icon>done</mat-icon>
    </button>
</div>