.container_licenses {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
}

.container_licenses_dialog {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}

.license-table {
    width: 85%;
}

.license-table-mobile {
  width: 95% !important;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 1px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  th.mat-sort-header-sorted {
    color: black;
  }
  
  .filter-licenses {
    margin-top: 1px;
    margin-left: 20px;
  }

  .license-table-inner {
    overflow: auto;
    max-height: 75vh;
  }

  .mat-cell {
    cursor: pointer;
  }

  .mat-toolbar {
    background: transparent !important;
}

.details-footer {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: right;
  flex-flow: row wrap;
  margin-top: 10px;
  width: 100%;
  height: 64px;
}