.container-ebooks {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    width: 100%;
}

.mat-toolbar {
    background: transparent !important;
    padding-left: 40px;
}

.mat-toolbar-row {
    height: 40px;
}

.content-container {    
    width:100%;
    overflow: auto;
    height: 78vh;
}

.content-area-container {
    width: 100%;
    background: white;
    padding: 10px;
}

.sidenav {
    width: 250px;
    padding: 10px;
    font-size: smaller;
}

.content-area {
    margin-left: 10px;
    margin-right: 10px;
    font-size: smaller;
    white-space: pre-line;
}

.sub-toolbar-content-area {
    width: 100%;
}

.text-input-field {
    width: 100%;
    min-height: 100px;
}

.textarea-input {
    min-height: 100px;
}

.new-text-input-field {
    width: 400px;
}

.input-area {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    width: 100%;
    min-height: 200px;
}

.delete-question-area {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    width: 100%;
}